/* General */
.homeMain {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* justify-content: space-evenly; Don't think you are needed with the 50/50 split*/
	/* align-items: center; Same with you sis */
	text-align: center;
	width: 100%;
}

/* Section left - portrait */
.sectionLeft {
	width: 50%;
}

.sectionLeft img {
	height: 80%; /*Of it's container*/
	width: 80%; /*Of it's container*/
	border-radius: 50%; /*U a circle now son*/
}

/* Section right - name, description */
.sectionRight {
	width: 50%;
}

/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	.homeMain {
		flex-direction: column;
	}
}
