/* General */
.homeMain {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;

	/* border-bottom: 0.5em var(--primary-color) solid; */
}

/* Section left - portrait */
.sectionLeft {
	width: 50%;
}

.sectionLeft img {
	height: 80%; /*Of it's container*/
	width: 80%; /*Of it's container*/
	border-radius: 50%; /*U a circle now son*/
}

/* Section right - name, description */
.sectionRight {
	width: 50%;
}

/* Typography */
/* TitleHeading is moved to components/NameAnimation */

.titleSHeading {
	font-family: "Bebas Neue", cursive;
	margin: var(--spacing-none);
	color: var(--primary-color); /*Yes or no?*/
}

/* Responsive */
/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	.homeMain {
		height: auto;
		flex-direction: column;
	}

	.sectionRight {
		width: fit-content;
	}
}
