/* General */
.homeMain {
	min-height: 100vh;
   min-height: 100svh;
   width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

   /* DEBUG */
   /* border: 5px solid red; */
}

/* Section left - portrait */
.sectionLeft {
	width: 50%;
}

.sectionLeft img {
	height: 80%;
	width: 80%;
	border-radius: 50%;
}

/* Section right - name, description */
.sectionRight {
	width: 50%;
}

/* Typography */
.titleSubHeading {
	font-family: "Bebas Neue", cursive;
	margin: var(--spacing-none);
	color: var(--primaryColor-seagreen);
}

/* Responsive */
/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	.homeMain {
		flex-direction: column;
	}

	.sectionRight {
		width: fit-content;
	}
}
