/* General */
.homeMain {
	min-height: 100vh;
	min-height: 100svh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	text-align: center;

	/* DEBUG */
	/* border: 5px solid red; */
}

/* Section left - portrait */
.sectionLeft {
	width: 50%;
}

.sectionLeft img {
	height: 60%;
	width: 60%;
	border-top-left-radius: 40%;
	border-bottom-right-radius: 40%;
}

/* Section right - name, description */
.sectionRight {
	width: 50%;
}

/* Typography */
.titleSubHeading {
	font-family: "Bebas Neue", cursive;
	margin: var(--spacing-none);
	color: var(--primaryColor-seagreen);
}

.linebreak {
	display: block;
}

/* Responsive */
/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	.homeMain {
		flex-direction: column;
	}

	.sectionRight {
		width: fit-content;
	}
}
