.projectMain {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.projectCarousel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0.5em;
}

.overflow {
	display: flex;
	flex-direction: row;
	width: 500px;
	overflow: hidden;
	margin: 0.5em;
}

.projectDisplay {
	height: 300px;
	min-width: 500px;
	background-color: var(--primary-bgcolor-blue);
	padding: 0.5em;
	margin: 0.5em;
}

button {
	height: 25px;
	width: 75px;
	background-color: var(--primary-bgcolor-blue);
	color: white;
	border: none;
	border-radius: 10px;
}

.projectTitle {
	font-weight: 600;
	color: white;
}

.projectLinks a {
	display: inline;
	padding-inline: 0.5em;
	text-decoration: none;
	color: white;
}

.projectLinks a:where(:hover, :active, :focus) {
	text-decoration: underline;
	font-weight: 600;
}

/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	.projectMain {
		height: auto;
	}

	.projectCarousel {
		display: flex;
		flex-direction: column;
	}

	.projectDisplay {
		min-width: 300px;
	}

	.overflow {
		max-width: 300px;
	}
}

/* Tablet(768px) */
@media screen and (min-width: 426px) and (max-width: 1024px) {
}
