.projectMain {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

   /* DEBUG */
   border: 5px solid red;
}

.projectTitle {
	color: var(--primaryColor-seagreen);
}

.projectGrid {
	display: grid;
	grid-template-columns: auto auto auto;
}

.projectCardAlgae {
	height: auto;
	width: 300px;
	/* border: 1px solid var(--color-black); */
	padding: var(--spacing-half);
	margin: var(--spacing-half);
	background-color: var(--secondaryColor-algaegreen);
}

.projectCardYellow {
	height: auto;
	width: 300px;
	/* border: 1px solid var(--color-black); */
	padding: var(--spacing-half);
	margin: var(--spacing-half);
	background-color: var(--secondaryColor-meadowyellow);
}

.projectCardOrange {
	height: auto;
	width: 300px;
	/* border: 1px solid var(--color-black); */
	padding: var(--spacing-half);
	margin: var(--spacing-half);
	background-color: var(--secondaryColor-meadoworange);
}

.projectName {
	text-transform: uppercase;
	/* padding-block: 1em; */
}

/* TEMPORARY */
.projectGrid img {
	height: 250px;
	width: 250px;

	/* Background vibes */
	border-radius: 50%;
	box-shadow: 1px 1px 10px var(--color-black);
}

.linkStyle {
	text-decoration: none;
	text-transform: uppercase;
	padding: var(--spacing-half);
}

.linkStyle:hover {
	text-decoration: underline;
}

/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	.projectMain {
		height: auto;
	}

	.projectGrid {
		grid-template-columns: auto;
	}

	.projectCard {
		width: 250px;
	}

	.projectGrid img {
		height: 200px;
		width: 200px;
	}
}

/* Tablet(768px) */
/* @media screen and (min-width: 426px) and (max-width: 1023px) {
	.projectGrid {
		grid-template-columns: auto auto;
	}
} */
