/* Basic over all css */

* {
	box-sizing: border-box;
	color: var(--primary-color-purple);
	margin: 0; /*SIS U ANNOYING FO*/
}

html,
body {
	margin: 0;
	background-color: var(--default-bg-color);
}

/* To add more space around to not touch corners..? */
/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	main {
		padding: 0.625em;
	}
}

/* Not necessary with one page */
/* #root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#root > main {
	flex-grow: 1;
	padding: 0.625em;
} */
