/* Basic over all css */

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
}

main {
	padding: var(--spacing-one);
}

.anchorOff,
.anchorOff:where(:active, :focus, :hover) {
	text-decoration: none;
	color: var(--secondaryColor-meadowOrange);
	cursor: pointer;
}
