/* Spaces with padding and margin */

/*
Conventions:
auto = auto
0px = 0em
5px = 0.312
10px = 0.625em
20px = 1.25
28px = 1.75em
*/

:root {
	--spacing-none: 0em;
	--spacing-half: 0.5em;
	--spacing-one: 1em;
	--spacing-two: 2em;
	--spacing-auto: auto;
}
