.contactMain {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;

	/* padding-top: var(--spacing-one); */
}

.contactSection {
	text-align: center;
	width: 50%;
	width: fit-content;
}

.iconList {
	display: flex;
	flex-direction: row;
	justify-content: space-around; /*Space between the two different type of icons*/
	/* padding-top: 1em; */
	padding-left: var(--spacing-none); /*Default spot for style-type*/
	list-style-type: none;
}

.socialIcons {
	display: inline-flex;
	gap: 1.25em;
}

.cvIcon p {
	display: inline-flex;
	padding-right: var(--spacing-half);
}

/* ICON SIZES!!!!!!! */
.contactIcons {
	width: 2.5em;
	height: 2.5em;
}

.contactIcons:where(:hover, :active, :focus) {
	border: 3px var(--primary-color) solid;
	padding: 1px;
}

/* Mobile - S(320), M(375px), L(425px) */
@media screen and (max-width: 425px) {
	.iconList {
		flex-direction: column;
		gap: 1em;
	}

	.socialIcons {
		justify-content: center;
	}

	.contactIcons {
		width: 1em;
		height: 1em;
	}
}
