.contactMain {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.contactSection {
	text-align: center;
	/* width: 50%; */
	width: fit-content;
}

.contactSection ul {
	display: inline-flex;
	text-align: center;
	gap: 1.25em;
	padding: 0;
	margin-top: 20px;
}

.contactSection ul li {
	list-style-type: none;
}

.contactIcons {
	width: 1em;
	height: 1em;
	background-color: white;
}

/* Typography */
.contactTitle {
	font-size: var(--fontsize-m);
}

/* Mobile - S(320), M(375px), L(425px), Tablet(768px) */
@media screen and (max-width: 768px) {
	/* .contactSection {
		width: fit-content;
	} */
}
