.navHeader {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: var(--primary-bgcolor-blue);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-medium) var(--spacing-large);
}

/* Replace with real logo at some point */
.navHeader h1 {
	font-size: 23px; /*FITTING 50px height navHeader*/
	border: 3px solid white;
	border-radius: 50%;
	/* padding: var(--spacing-small); */
	padding: 5px;
	color: var(--secondary-color-blue);
}

/* Nav items */
.navUl {
	list-style-type: none;
	/* padding: var(--spacing-none); */
}

.navUl li {
	/* color: white; */
	padding: var(--spacing-medium);
	display: inline-block;
}

.navUl a {
	color: white;
	text-decoration: none;
}

.navUl a:where(:hover, :focus, :active) {
	text-decoration: underline;
}

/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	/* Not yet decided? Hamburger? */
}
