.footer {
	height: 80px;
	background-color: var(--primary-bgcolor-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerH3 {
	color: white;
	/* color: var(--secondary-color-blue); */
	/* font-size: var(--fontsize-general); */
	margin: var(--spacing-none);
}
