.footer {
	height: 50px;
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.credits {
	color: var(--color-white);
	margin: var(--spacing-none);
}
