.aboutMain {
	height: 100vh;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;

	/* border-bottom: 0.5em var(--primaryColor-seagreen) solid; */
}

.aboutSection {
	width: 50%;
	text-align: center;
}

.aboutTitle {
	color: var(--primaryColor-seagreen);
}

.aboutSkills {
	width: 50%;
	text-align: center;
}

.aboutSkills img {
	width: 65%;
	height: 65%;
}

/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	.aboutMain {
		height: auto;
		flex-direction: column;
	}

	.aboutSection {
		width: fit-content;
	}

	.aboutSkills {
		width: 100%;
	}
}
