/* Font sizes */

/* 
Convention:
Typical <p> size: 16px = 1em!
--fontsize-general: 18px;
--fontsize-SHeading: 36px;
--fontsize-Heading: 90px;
*/

:root {
	--fontsize-general: 1.125em;
	--fontsize-SHeading: 2.25em;
	--fontsize-Heading: 5.625em;
}

/* General p, li, a, etc */
body {
	font-family: "Roboto Slab", serif;
	font-size: var(--fontsize-general);
}

/* Second Titles */
h3 {
	font-family: "Bebas Neue", cursive;
	font-size: var(--fontsize-SHeading);
	padding: 0;
	margin: 0;
}

/* Mobile - S(320), M(375px), L(425px)  */
@media screen and (max-width: 426px) {
	h3 {
		font-size: var(--fontsize-general);
		font-weight: 400;
	}
}
